:root {
  // base
  --font-family: "Inter", sans-serif;
  --second-family: "Canela", sans-serif;
  --content-width: 1290px;
  --container-offset: 30px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --bg-color: rgb(30, 30, 30);
  --gray-color: rgb(255, 255, 253);
  --white-color: #fff;
  --salad-color: #d6ef0e;
}
