.footer {
  padding-top: 92px;
  padding-bottom: 92px;

  @media (width <=1023px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @media (width <=480px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__content {
    justify-content: space-between;
    margin-bottom: 48px;
    border-bottom: 1px solid rgb(131, 131, 130);
    padding-bottom: 48px;

    @media (width <=767px) {
      flex-direction: column;
    }
  }

  &__left {
    align-self: center;
    margin-right: 20px;
    max-width: 272px;
    max-height: fit-content;

    @media (width <=767px) {
      margin-right: 0;
      margin-bottom: 48px;
      max-width: 100%;
    }
  }

  &__text {
    display: block;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--gray-color);

    @media (width <=767px) {
      display: flex;
      margin-bottom: 48px;
      text-align: center;
    }
  }

  &__list-social {
    @media (width <=767px) {
      justify-content: center;
    }
  }

  &__item-social {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__link-social {
    outline: none;

    &:focus .footer__icon-social {
      fill: var(--salad-color);
    }

    @include hover {
      .footer__icon-social {
        fill: var(--salad-color);
      }
    }

    &:active .footer__icon-social {
      fill: var(--white-color);
    }
  }

  &__icon-social {
    width: 25px;
    height: 25px;
    fill: var(--white-color);
    stroke: var(--bg-color);
    transition: all .3s ease-in-out;
  }

  &__right {
    justify-content: space-between;
    width: 100%;
    max-width: 688px;

    @media (width <=480px) {
      flex-wrap: wrap;
      row-gap: 20px;
    }
  }

  &__block-info {
    @media (width <=480px) {
      width: 50%;
    }

    &:nth-child(2) {
      @media (width <=480px) {
        text-align: end;
      }
    }

    &:nth-child(4) {
      @media (width <=480px) {
        text-align: end;
      }
    }
  }

  &__title-info {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: var(--white-color);
  }

  &__item-info {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__link-info {
    outline: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--gray-color);
    transition: all .3s ease-in-out;

    &:focus {
      color: var(--salad-color);
    }

    @include hover {
      color: var(--salad-color);
    }

    &:active {
      color: var(--white-color);
    }
  }

  &__legal {
    justify-content: space-between;

    &-info {
      justify-content: space-between;
      width: 100%;
      max-width: 280px;

      @media (width <=767px) {
        margin: 0 auto;
      }
    }

    &-span {
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: var(--gray-color);

      @media (width <=767px) {
        margin: 0 auto;
      }
    }

    @media (width <=767px) {
      flex-direction: column;
    }
  }
}
